<template name="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Myapp</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">My package</a></li>
                <li><a href="#">Slick package</a></li>
            </ul>
        </div>
    </nav>
    <div class="col-md-12">
        {{>yield}}
    </div>        

</template>